
Emacs.menuBar:              off
Emacs.toolBar:              off
Emacs.verticalScrollBars:   off
!Emacs.font:                 -windows-ProggyTiny-medium-r-normal--10-80-96-96-c-60-iso8859-1
Emacs.font:                 -*-fixed-medium-r-*-*-10-*-*-*-*-*-iso8859-*
!Emacs.Background:           DarkSlateGray
!Emacs.Foreground:	    wheat
!Emacs.cursorColor:	    bar
!Emacs.pointerColor:	    foo

XTerm.title:                xt heow
XTerm.toolBar:              false
XTerm*foreground:     grey50
XTerm*background:     grey5
XTerm*cursorBlink:    true
XTerm*cursorColor:    white
!XTerm*font:           -windows-ProggyTiny-medium-r-normal--10-80-96-96-c-60-iso8859-1
!XTerm*font:           -*-fixed-medium-r-*-*-10-*-*-*-*-*-iso8859-*
XTerm*font:           6x10
XTerm*font1:          -*-Lucida Console-normal-r-*-*-11-82-96-96-c-*-iso8859-1
XTerm*font2:          6x10
XTerm*saveLines:      1024
XTerm*loginShell:     true
XTerm*scrollBar:      false

